@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  background-color: #f0f1f1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f1f1;
  z-index: 2;
}
.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 35px 8px 10px;
}
.header__logo {
  width: 81px;
  height: 95px;
  background: url("/img/logo/logo_img.svg") center/cover no-repeat;
  position: relative;
  z-index: 99;
}
.header__menu {
  display: flex;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  position: relative;
  z-index: 3;
}
.header__menu li:not(:last-child) {
  margin-right: 25px;
}
.header__menu a {
  color: #212121;
}
.header__menu a:hover {
  transition: 0.25s ease all;
  color: #ffd200;
}
.header__burger {
  display: none;
}

.content {
  flex: 1 1 auto;
  padding-top: 120px;
}

.footer {
  background-color: #f0f1f1;
}
.footer__inner {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
  padding: 21px 0px 18px 0px;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #262626;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    transition: 0.3s all ease;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #262626;
    left: 0;
    top: 9px;
    width: 30px;
    height: 2px;
    transition: 0.3s all ease;
  }

  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    padding: 100px 20px 20px 20px;
    transition: 0.3s all ease;
    overflow: auto;
  }
  .header__nav a {
    color: #f0f1f1;
  }

  .header__nav.active {
    top: 0;
  }

  .header__inner {
    padding: 8px 15px 8px 10px;
  }

  .header__logo {
    width: 54px;
    height: 63px;
  }

  .header__menu {
    display: block;
  }
  .header__menu li {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .content {
    padding-top: 79px;
  }

  .footer__inner p {
    font-weight: 400;
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .header__menu {
    font-size: 16px;
  }
}